hostname {{ hostname }}
!
router bgp {{ asn }}
 bgp router-id {{ router_id }}
 no bgp ebgp-requires-policy
{%- for neighbor in neighbors %}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.asn }}
{%- endfor %}
!
 address-family ipv4 unicast
  network {{ network }}
{%- for neighbor in neighbors %}
  neighbor {{ neighbor.ip }} route-map PERMIT_ALL in
  neighbor {{ neighbor.ip }} route-map PERMIT_ALL out
{%- endfor %}
 exit-address-family
!
route-map PERMIT_ALL permit 10
!
line vty
!